* {
  box-sizing: border-box;
}

html {
  background-color: #000000;  
  color: #FFFFFF;
}

hr {
  content: "";
  left: 0;
  height: 3px;
  background: #61dafb;
  border-radius: 3px;
  border: 1px solid #61dafb;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

a:hover {
  color: #33b5e5;
}

h1 { 
  font-size: 24px; 
}

h2 { 
  font-size: 20px; 
}

h3 { 
  font-size: 16px; 
}

h4 { 
  font-size: 14px; 
}

img {
  border-radius: 50%;
  width: 50;
  height: 50;
}

/***********************************************/

.full_name {
  width: max-content;
}

.job_title {
  padding: 3px 12px;
  border-radius: 8px; 
  background-color: #333333;
  width: max-content;
}


.center {
  margin: auto;
  /* max-width: 80%; */
  width: 80%;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 3px;
}

.section {
  margin: auto;
  /* max-width: 80%; */
  width: 90%;
  /* border-radius: 20px; */
  /* border: 1px solid #000000; */
  padding: 3px;
}

.header {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  /* border: 1.5px solid #333333; */
  background-color: #222222;
  color: #FFFFFF;
  padding: 10px 30px;
  font-size: 14px;
}

.header img {
  vertical-align: middle;
}

.header .social img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.content {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  border: 1.5px solid #333333;
  background-color: #222222;
  color: #FFFFFF;
  padding: 10px 30px;
  font-size: 14px;
}

.nav {
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  border: 1.5px solid #333333;
  background-color: #222222;
  color: #FFFFFF;
  padding: 5px;
  font-size: 14px;
}

.nav table {
  width: 50%;
}

.nav .link {
  min-width: 60px;
  text-align: center;
  font-weight: bold;
}

.personal {
  margin: auto;
  /* max-width: 80%; */
  width: 90%;
  overflow: hidden;
  /* border-radius: 20px; */
  /* border: 1px solid #000000; */
}

.personal .info {
  margin: auto;
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: #282c34;
  /* padding: 5px 5px; */
}

.personal .info img {
  /* border-radius: 0%; */
  /* border: 1px solid #333333; */
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.personal .info .label {
  color: #C0C0C0;
  /* font-weight: bold; */
}

.personal .info table {
  width: 100%;
  /* border-spacing: 5px; */
}

.personal .info td {
  width: auto;
  /* padding: 5px 5px; */
  /* border: 1px solid #000000; */
}

.personal .info .leftcell {
  width: 20%;
  text-align: center;
}

.personal .info .rightcell {
  width: 80%;
  text-align: left;
  vertical-align: middle;
}

.stack {
  margin: auto;
  border-radius: 15px;
  border: 1px solid #333333;
  background-color: #282c34;
}

.stack img {
  border-radius: 0%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.stack table {
  width: 100%;
  border-spacing: 5px;
}

.stack td {
  width: auto;
  padding: 5px 5px;
  padding-left: 20px;
  padding-right: 10px;
  /* border: 1px solid #000000; */
  text-align: left;
  vertical-align: middle;
}

.stack .leftcell {
  width: 25%;
  text-align: center;
}

.stack .rightcell {
  width: 75%;
  text-align: left;
  vertical-align: middle;
}

.footer {
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="center"] {
  width: 100%;
}
[class*="col-"] {
  width: 100%;
}

/* For tablets and Desktop: */
@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.svg-filter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(118%) contrast(119%);
}

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline .title-wrapper img {
  border-radius: 0%;
  width: 30px;
  height: 30px;
  vertical-align: middle;  
}

.timeline-list {
  margin-left: 45px;
}

.timeline-list li {
  list-style: none;
}

.timeline-item .title {
  line-height: 1.0;
  margin-bottom: 7px;
}

.timeline-item .year {
  /* color: var(--vegas-gold);
  font-weight: var(--fw-400); */
  color: #61dafb;
  line-height: 1.0;
}

.timeline-item .text {
  line-height: 1.0;
}

.timeline-item { 
  position: relative; 
}

.timeline-item:not(:last-child) { 
  margin-bottom: 20px; 
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: #61dafb;
}

.timeline-item:only-child::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(50%);
  background: #61dafb;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: #61dafb;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #FFFFFF;
}

.sortAlgDemo {
  overflow: auto;
  padding: 0px 0px 30px 0px;
}

.sortAlgDemo td {
  padding-right: 5px;
  text-align: left;
  vertical-align: bottom;
}

.sortAlgDemo .title {
  font-size: 24px; 
}

.sortAlgDemo .other {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.sortAlgDemo .header {
  margin: auto;
  /* border-radius: 10px;
  border: 1px solid #333333;
  background-color: #282c34; */
  padding: 5px 20px 10px 0px;
  text-align: left;
}

.sortAlgDemo .label {
  text-align: center;
  vertical-align: middle;
  padding: 3px 10px;
}

.sortAlgDemo img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.sortAlgDemo .label:hover {
  border-radius: 5px;
  background-color: #282c34;
  cursor: pointer;
}

.sortAlgDemo .bar {
  float: left;  
  position: relative;
  border-left: 5px solid #808080;
  height: 500px;
  left: 5px;
  top: 0px;
}

.timeline-list .timeline-item table {
  width: 50%;
  border-spacing: 5px;  
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: #282c34;  
  padding: 5px 5px 5px 5px; 
  font-size: 12px;    
}

.timeline-list .timeline-item td {
  text-align: left;
  vertical-align: top;
}